@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body{
	background: #f5e9f7;
	/*color:#9c27b0 ; */
}
.wrapper {
	margin:10px;
}
.wrapper .top_navbar{
	width: calc(100% - 20px);
	height: 60px;
	display: flex;
	position: fixed;
	top: 0;
}

.wrapper .top_navbar .hamburger{
	width: 70px;
	height: 100%;
	background: #9c27b0;
	padding: 15px 17px;
	border-top-left-radius: 20px;
	cursor: pointer;
}

.wrapper .top_navbar .hamburger div{
	width: 35px;
	height: 4px;
	background:#ebd3ef;
	margin: 5px 0;
	border-radius: 5px;
}

.wrapper .top_navbar .top_menu{
	width: calc(100% - 70px);
	height: 100%;
	background: #fff;
	border-top-right-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper .top_navbar .top_menu .logo {
	color: #9c27b0;
	font-size:20px;
	font-weight: 500;
	letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul{
	display: flex;
}

.wrapper .top_navbar .top_menu ul li a{
	display: block;
	margin: 0 10px;
	width: 35px;
	height:35px;
	line-height: 35px;
	text-align: center;
	border: 1px solid #9c27b0;
	border-radius: 50%;
	color: #9c27b0;
}

.wrapper .top_navbar .top_menu ul li a:hover{
	background:  #af52bf;
	color:#fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}

.wrapper .sidebar {
	position: fixed;
	top: 70px;
	left:10px;
	background: #9c27b0;
	height: 100%;
	width: 180px;
	border-bottom-left-radius: 20px;
	transition: all 500ms ease;
		overflow: hidden;

}

.wrapper .sidebar ul li a{
	display: block;
	padding: 15px;
	color:#ebd3ef;
	position: relative;
	margin-bottom:1px;
	font-size: 12px;
	text-transform: uppercase;
	white-space: nowrap;
}

.wrapper .sidebar ul li a:before{
	content: "";
	position: absolute;
	top:0;
	left: 0;
	width: 3px;
	height: 100%;
	background: #ebd3ef;
	display: none;
}

.wrapper .sidebar ul li a span.ikon{
	margin-right: 10px;	
	display: inline-block;
}

.wrapper .sidebar ul li a span.desc{
	display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active {
	background:#af52bf;
	color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before {
	display: block;
}

.wrapper .main_container{
	width: calc(100% - 180px);
	margin-top: 70px; 
	margin-left: 180px ;
	padding: 15px;
	transition: all 500ms ease;
}

.wrapper .main_container .item{
	background: #fff;
	margin-bottom:10px;
	padding: 0 15px 0 15px;
	font-size: 12px;
	line-height: 20px;
}

.wrapper.kollapse .sidebar{
	width: 70px;
}

.wrapper.kollapse .sidebar ul li a{
	text-align: center;
}

.wrapper.kollapse .sidebar ul li a span.ikon{
	margin:0;
	font-size: 18px;
}

.wrapper.kollapse .sidebar ul li a span.desc{
	display: none;
}

.wrapper.kollapse .main_container {
	width: calc(100% - 70px);
	margin-left: 70px;
}

.front {
	position: fixed;
	z-index: 1000;
}

.text-primary{
	color:#9C27B0 !important;
}

.bg-primary {
	background:#9C27B0 !important;
}
.header .header_tabs {
	margin-bottom: 15px;
	padding:15px; 
	background-color: #ebd3ef
}

.header .header_forms,
.header .header_forms:after {
	padding:15px; 
	margin-bottom: 0;
	background-color: #ebd3ef
}

.header .message{
	display: none;
	text-align: right;
}

.vertical_align {
	margin-top:15px; 
}

#payment-data {
	font-size: 12px;
	width: 100%;
	overflow: auto;

}

table{
	font-size: 12px;
	width: 100%;
}

table tr th {
	width:10%;
	text-align: left;

}
table tr td input[type="text"]{
	text-align: center;
	margin:5px 10px;
	height: 20px;
	font-size: 12px;
	border-color: #f5e9f7;
	background-color: #f5e9f7;
}

#payment-data table tr td input[type="text"]{
	width: 80px;
}

#grade_table table tr td input[type="text"]{
	width: 75px;
	margin-left:0;
	margin-right:0;
}

#scoresheet_table table tr th{
	width:5%;
}

#scoresheet_table table tr th input[type="text"]{
	width: 50px
}

.bg_form {
	padding: 10px;
	background-color: #f5e9f7;
}

.no_bg {
	display: none;
}
.no_margin{
	margin:0;
}

.hidden{
	display:none;
}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}